{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 class="text-center">Authors</h1>
    {% if show_remote_find_link %}
        <section>
            <a href="{% url 'app:authors:find-remote' %}">Find Remote Author</a>
        </section>
    {% endif %}

    <ul class="media-list">
        {% for author in all_authors %}
            <li id="sd-author-{{ author.id }}" class="media sd-author">
                <div class="media-left">
                    <a href="{% url 'app:authors:detail' author.id %}">
                        <img class="media-object profile-image"
                             src="{% static 'images/site/no-profile-picture.png' %}"
                             alt="{{ author.displayName }}">
                    </a>
                </div>
                <div class="media-right">
                    <h4><a href="{% url 'app:authors:detail' author.id %}">{{ author.displayName }}</a></h4>
                    <ul class="list-inline">
                        <li>
                            <a class="btn btn-default btn-xs" href="{% url 'app:authors:posts-by-author' author.id %}">
                                View posts
                            </a>
                        </li>
                    </ul>
                </div>

            </li>
        {% endfor %}
    </ul>
{% endblock %}
