<div class="sd-post-story-container">
    {% if post.title %}
        <h2 class="sd-post-title">
            {% if post.get_absolute_url == request.get_full_path %}
                {{ post.title }}
            {% else %}
                <a target="_blank" href="{% url 'app:posts:detail' post.id %}">{{ post.title }}</a>
            {% endif %}
        </h2>
    {% endif %}
    {% if post.description %}
        <div class="sd-post-description">
            {{ post.description }}
        </div>
    {% endif %}
    <div class="sd-post-story">
        {% if short %}
            {# Add a read more link to longer posts #}
            {{ post.content_html | safe | truncatechars_html:250 }}

            {% if post.is_text and post.content|length >= 250 %}
                <div>
                    <a target="_blank" href="{% url 'app:posts:detail' post.id %}">Read More</a>
                </div>
            {% endif %}
        {% else %}
            {{ post.content_html | safe }}
        {% endif %}
    </div>
    {% if post.upload_url %}
        <div class="sd-post-upload">
            <img class="img-responsive img-rounded"
                 src="{{ post.upload_url }}"
                 alt="Post picture">
        </div>
    {% endif %}
</div>
