{% load static %}

<div class="media-left">
    <a href="{% url 'app:authors:detail' post.author.id %}">
        <img class="media-object profile-image"
             src="{% static 'images/site/no-profile-picture.png' %}"
             alt="{{ author.displayName }}">
    </a>
</div>

<div class="media-body">
    <div class="media-heading clearfix">
        <div class="pull-left">
            {% include 'posts/includes/post_header.html' %}
        </div>
        {# Show Button only if logged and and posts's author #}
        {% if user.is_authenticated and post.author.id == user.profile.id %}
            <div class="pull-right">
                {% include 'posts/post_media/post_edit_dropdown.html' %}
            </div>
        {% endif %}
        {# End of Button #}

    </div>

    {% include 'posts/includes/post_story.html' %}
</div>

{%  if not short %}
    {# Begin posts's comments #}
    {% include 'app/includes/user_profile_post_comments.html' %}
{% endif %}